<section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <ul class="nav nav-tabs row gy-4 d-flex">

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <i class="bi bi-binoculars color-cyan"></i>
            <h4>Step 1: Discovery </h4>
          </a>
        </li><!-- End Tab 1 Nav -->

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <i class="bi bi-box-seam color-indigo"></i>
            <h4>Step 2: Strategy </h4>
          </a>
        </li><!-- End Tab 2 Nav -->

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <i class="bi bi-brightness-high color-teal"></i>
            <h4>Step 3: Design </h4>
          </a>
        </li><!-- End Tab 3 Nav -->

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <i class="bi bi-command color-red"></i>
            <h4>Step 4: Development</h4>
          </a>
        </li><!-- End Tab 4 Nav -->

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
            <i class="bi bi-easel color-blue"></i>
            <h4>Step 5: Launch</h4>
          </a>
        </li><!-- End Tab 5 Nav -->

        <li class="nav-item col-6 col-md-4 col-lg-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
            <i class="bi bi-map color-orange"></i>
            <h4>Step 6: Growth</h4>
          </a>
        </li><!-- End Tab 6 Nav -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
              <h3>Discovery</h3>
              <p class="fst-italic">
                We kick off with a deep dive into your brand's essence. Our team gathers insights about your company's mission, vision, values,
                 and target audience. We leverage questionnaires, interviews, and market research to understand your unique place in the market.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Uncover brand insights.</li>
                <li><i class="bi bi-check-circle-fill"></i> In-depth market research.</li>
                <li><i class="bi bi-check-circle-fill"></i> Define target audience.</li>
              </ul>
              <p>
              </p>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/features-1.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 1 -->

        <div class="tab-pane" id="tab-2">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1">
              <h3>Strategy</h3>
              <p>
                With the discovery info in hand, we craft a strategy that aligns with your business goals. 
                This includes defining user personas, creating a content strategy, 
                and outlining key performance indicators (KPIs) for the project.
              </p>
         
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Align goals with your users needs.</li>
                <li><i class="bi bi-check-circle-fill"></i> Develop content roadmap.</li>
                <li><i class="bi bi-check-circle-fill"></i>Set performance metrics.</li>
              </ul>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center">
              <img src="assets/img/features-2.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 2 -->

        <div class="tab-pane" id="tab-3">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1">
              <h3>Design</h3>
              <p>
                This phase is where creativity meets strategy. Our designers translate your brand's identity into visual concepts. 
                We iterate on layouts, color schemes, typography, and imagery that resonate with your audience 
                and embody your brand’s ethos.

              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Brand identity visualization.</li>
                <li><i class="bi bi-check-circle-fill"></i> Interactive design iterations.</li>
                <li><i class="bi bi-check-circle-fill"></i> User-centric approach.</li>
              </ul>
 
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center">
              <img src="assets/img/features-3.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 3 -->

        <div class="tab-pane" id="tab-4">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1">
              <h3>Development</h3>
              <p>
                Our developers bring the designs to life with clean, efficient code. 
                Whether it’s a website, app, or digital product, 
                we ensure a responsive and accessible user experience across all devices and platforms.

              </p>
          
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Clean code designed by artisian craftsmen.</li>
                <li><i class="bi bi-check-circle-fill"></i>Responsive and accessible UI/UX.</li>
                <li><i class="bi bi-check-circle-fill"></i> Cross-platform integration.</li>
              </ul>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center">
              <img src="assets/img/features-4.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 4 -->

        <div class="tab-pane" id="tab-5">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1">
              <h3>Launch</h3>
              <p>
                After rigorous testing and quality assurance, we prepare for launch. We handle all the final details to
                 ensure a smooth deployment and provide training on managing your new digital presence.

              </p>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Detailed pre-launch checklist.</li>
                <li><i class="bi bi-check-circle-fill"></i> Smooth deployment execution.</li>
                <li><i class="bi bi-check-circle-fill"></i> User experience training.</li>
              </ul>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center">
              <img src="assets/img/features-5.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 5 -->

        <div class="tab-pane" id="tab-6">
          <div class="row gy-4">
            <div class="col-lg-8 order-2 order-lg-1">
              <h3>Reprehit</h3>
              <p>
                Post-launch, we monitor performance and gather user feedback. 
                We use this data to optimize and refine, ensuring your digital
                 presence continues to grow and stays ahead of the curve.

              </p>

              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Performance monitoring.</li>
                <li><i class="bi bi-check-circle-fill"></i> User feedback analysis.</li>
                <li><i class="bi bi-check-circle-fill"></i> Continuous optimization.</li>
              </ul>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 text-center">
              <img src="assets/img/features-6.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End Tab Content 6 -->

      </div>

    </div>
  </section>