<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Pricing</h2>
      <p>Starting at</p>     
     </div>

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-item">

            <div class="pricing-header">
              <h3>Website Plan</h3>
              <h4><sup>£</sup>999<span> </span></h4>
            </div>

            <ul>
              <li><i class="bi bi-dot"></i> <span>Customised website available as a single page or 1-5 page website</span></li>
              <li><i class="bi bi-dot"></i> <span>Design and sitemap tailored to your individual business needs </span></li>
              <li><i class="bi bi-dot"></i> <span>We communicate every step of the design process with you</span></li>
              <li><i class="bi bi-dot"></i> <span>Content management system </span></li>
              <li><i class="bi bi-dot"></i> <span>Lifetime support.</span></li>
            </ul>

            <div class="text-center mt-auto">
              <a href="#" class="buy-btn">Buy Now</a>
            </div>

          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="pricing-item featured">

            <div class="pricing-header">
              <h3>Business Plan</h3>
              <h4><sup>£</sup>1499<span> </span></h4>
            </div>

            <ul>
              <li><i class="bi bi-dot"></i> <span>Full ecommerce website with orders, payment, delivery system and email automation system</span></li>
              <li><i class="bi bi-dot"></i> <span>Content management system designed for you to add, delete and update your products yourself</span></li>
              <li><i class="bi bi-dot"></i> <span>Designed to fit the theme of your business and target audeince.</span> </li>
              <li><i class="bi bi-dot"></i> <span>Lifetime support.</span>
              </li>
              <li><i class="bi bi-dot"></i> <span>Massa ultricies mi quis hendrerit</span></li>
            </ul>

            <div class="text-center mt-auto">
              <a href="#" class="buy-btn">Buy Now</a>
            </div>

          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
          <div class="pricing-item">

            <div class="pricing-header">
              <h3>Enterprise Plan</h3>
              <h4><sup>£</sup>3000<span> </span></h4>
            </div>

            <ul>
              <li><i class="bi bi-dot"></i> <span>Quam adipiscing vitae proin</span></li>
              <li><i class="bi bi-dot"></i> <span>Nec feugiat nisl pretium</span></li>
              <li><i class="bi bi-dot"></i> <span>Nulla at volutpat diam uteera</span></li>
              <li><i class="bi bi-dot"></i> <span>Pharetra massa massa ultricies</span></li>
              <li><i class="bi bi-dot"></i> <span>Massa ultricies mi quis hendrerit</span></li>
            </ul>

            <div class="text-center mt-auto">
              <a href="#" class="buy-btn">Buy Now</a>
            </div>

          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>
  </section>