<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>
        <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores adipisci aliquam.</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Web Design & Developent</h3>
              </a>
              <ul>
                <li>Tailored artisan web design and development</li>
                <li>We work with you every step of the way to create your vision</li>

            </ul>            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{{'/assets/statamic-logo.svg' }}"" alt="Statamic Logo">

            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>CMS Integration</h3>
              </a>
              <ul>
              <li>Built with content management system Statamic</li>
              <li>We build your product so you can update your content yourself with ease</li>
              <li>Gives you the power to control the website once we hand it over to you.</li>
              </ul> </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{{'/assets/database-cloud.svg' }}"" alt="Statamic Logo">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Hosting & Lifetime Support
                </h3>
              </a>
              <ul>
                <li>Dependable, secure web hosting done for you by us</li>
                <li>Ongoing updates. We will ensure that your website does not break.</li>
                <li>Commitment to long-term excellence</li>
                 </ul> 
                </div>
              </div>
          </div>
        </div><!-- End Service Item -->


    </div>
  </section>